.App {
  text-align: center;
  background-color: #282c34;
}

.row {
  display: flex;
  justify-content: center;
}

.square{
  width: 2rem;
  height: 2rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  background-color: black;
}

.letter{
  margin: auto;
}

.Game{
  position: absolute;
  bottom:50%;
  left:50%;
  transform: translateX(-50%);
}
