.App {
  text-align: center;
  background-color: #282c34;
}

.row {
  display: flex;
  justify-content: center;
}

.square{
  position: relative;
  width: 4rem;
  height: 4rem;
  margin-right: 0.2rem;
  margin-top: 0.2rem;
  background-color: rgb(255, 255, 255);
}
.square.keyboard{
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  background-color: rgb(139, 138, 138);
}

.letter{
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.letter.keyboard{
  font-size: 100%;
  position: absolute;
}
.square.bingo{
  background-color: rgb(93, 230, 8);
}

.square.include{
  background-color: rgb(255, 242, 0);
}

.square.none{
  background-color: rgb(100, 100, 100);
}

.Game{
  position: absolute;
  bottom:50%;
  left:50%;
  transform: translate(-50%,50%);
}

.whiteBackground{
  background-color: white;
  margin-top: 1rem;
}